h1 {
    font-size: 2.5em;

}

.content-container {
    padding-top: 5em;
}

.content-section {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.about-me-desc-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}


/* Languages section */

.languages-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    gap: 6em;
}

.language-card {
    height: 9em;
    width: 100%;
    perspective: 1000px;
}

.language-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.language-card:hover .language-card-inner {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.back {
    border: 5px solid transparent;
    background-size: cover;
    background-origin: border-box;
    background-position: center;
    border-radius: 1em;
    transform: rotateY(180deg);
}

.france .back {
    background-image: url('../images/french-flag.svg');
}
.english .back {
    background-image: url('../images/english-flag.svg');
}
.japanese .back {
    background-image: url('../images/japanese-flag.svg');
}

.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    background-color: var(--main-bg);
}

.language-card .language-name {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--high-contrast-text);
    margin-bottom: 1em;
}

.language-card .language-level {
    font-size: 1.25em;
    color: var(--secondary-text);
}

.back-content small {
    color: var(--hover-solid-bg);
}


/* Hobbies section */

.hobby-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}

.hobby-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    color: var(--low-contrast-text);
    background-color: var(--element-bg);
    border: 2px solid var(--border-color);
    border-radius: 1em;
    padding: 1em;
}

.hobby-card svg {
    width: 100%;
    height: 4em;
    fill: var(--low-contrast-text);
}

@media (max-width: 950px) {
    .hobby-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .languages-container {
        grid-auto-flow: row;
    }
}

@media (max-width: 750px) {
    .hobby-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .hobby-grid {
        grid-template-columns: 1fr;
    }
}

@media (hover: none) {
    .language-card-inner {
        transform: rotateY(180deg);
    }
}