/* Global styles */
body {
    margin: 0;
    font-size: 16px;
    font-family: system-ui, sans-serif;
    background-color: var(--main-bg);
    color: var(--high-contrast-text);
}

h1 {
    font-weight: normal;
    margin: 0;
}

h1 > strong {
    color: var(--solid-bg);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 1em 1em 1em;
    gap: 6em;
}


/* Header styles */
.header {
    height: 3em;
    display: flex;
    align-items: center;
    padding: 0 5vw;
    border-bottom: var(--separator-color) solid 1px;
}

.header-name {
    flex: 1;
    font-weight: bold;
    font-size: 1.5em;
}

.pill-button {
    color: var(--high-contrast-text);
    background-color: var(--element-bg);
    border: none;
    border-radius: 10em;
    padding: 0.5em 1.5em;
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pill-button:hover {
    background-color: var(--element-hover-bg);
}


/* Hero styles */
.hero {
    display: flex;
    align-items: center;
    width: 35em;
    gap: 1em;
    padding-top: 5em;
}

.hero-subtitle {
    text-align: justify;
}

.profile-picture {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin-left: 2em;
    object-fit: contain;
    box-shadow: 0 0 1em var(--separator-color);
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    text-align: end;
}


/* Projects styles */
.content-container {
    width: 100%;
    max-width: 60em;
}

.project-title {
    padding-bottom: 0.5em;
}

.tabs {
    display: flex;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs label {
    display: block;
    position: relative;
    width: 100%;
    padding: 0.5em 0;
    text-align: center;
    color: var(--solid-bg);
    background-color: var(--element-bg);
    cursor: pointer;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.tabs label:not(:first-of-type)::after {
    content: "";
    position: absolute;
    left: 0;
    top: 12.5%;
    width: 1px;
    height: 75%;
    background-color: var(--separator-color);
} 

.tabs label:first-of-type {
    border-top-left-radius: 0.5em;
}
.tabs label:last-of-type {
    border-top-right-radius: 0.5em;
}

.tabs input[type="radio"]:checked + label {
    color: var(--low-contrast-text);
    text-shadow: 0 0 0.2em var(--solid-bg);
}

.project-lists {
    position: relative;
    background-color: var(--element-bg);
    overflow: hidden;
    transition: height 1s ease-out;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.project-lists .list {
    height: fit-content;
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.project-lists .list.is-active {
    opacity: 1;
    pointer-events: auto;
}


/* Responsive styles */
@media (min-width: 1600px) {
    body {
        font-size: 1vw;
    }
}